

@media (max-width: 1355px) {
    .tos-row__outer {
        --ex-left: 0;
    }
    .tos__row .col-lg-3 {
        width: 100%;
        order: 2;
    }
}

@media (max-width: 1199px) {
    .hero__image {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 600px;
    }
    .hero-content {
        padding-top: 70px;
        padding-right: 0;
    }


    .page-hero__content .back {
        gap: 10px;
        font-size: 16px;
    }
    .page-hero__content .h1 {
        font-size: 40px;
    }
    .page-hero-section {
        padding: 50px 0;
    }
    .tos__l-box {
        padding: 30px 30px;
        border-radius: 12px;
        margin-bottom: 25px;
    }

}


@media (max-width: 991px) {

}


@media (max-width: 768px) {
    .header__logo {
        width: 33px;
    }

    .hero-tr-shape {
        width: calc(100vw - 80px);
        height: 339px;
    }


    .hero-section {
        padding: 95px 0 30px;
    }
    .hero-content {
        text-align: center;
    }
    .hero-content .h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .hero-content p {
        font-size: 14px;
    }
    .hero-content {
        padding-top: 45px;
    }
    .hero-content .bottom-button {
        margin-top: 8px;
    }
    .default-button {
        min-height: 36px;
        padding: 5px 40px;
        font-size: 14px;
        border-radius: 8px;
    }
    body {
        font-size: 13px;
    }
    .h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .sec-title {
        margin-bottom: 35px;
    }

    .da-section {
        padding: 40px 0;
    }
    .da-cards-row {
        --bs-gutter-x: 20px;
    }
    .da-card .icon {
        width: 33px;
        margin-bottom: 16px;
    }
    .da-card .content h3 {
        font-size: 15px;
        margin-bottom: 11px;
    }
    .da-card .content p {
        font-size: 10px;
    }
    .da-card {
        padding: 35px 18px 37px;
        border-radius: 15px;
    }


    .product-section {
        padding: 40px 0;
    }
    .products-sec-title {
        margin-bottom: 20px !important;
    }


    .products-sec-bottom {
        margin-top: 40px;
    }
    .testimonial-sec-title .quote {
        width: 30px;
    }
    .testimonial-slider {
        --width-n: 313;
        --scale-down: 0.8;
    }
    .testimonial-card .contents p {
        font-size: 10.7px;
        margin-bottom: 9px;
    }
    .testimonial-card .contents h4 {
        font-size: 12.6px;
        margin-bottom: 10px;
    }
    .testimonial-card .contents h5 {
        font-size: 10px;
    }
    .rating ul li {
        font-size: 19px;
    }
    .rating ul {
        gap: 7px;
    }
    .rating {
        margin: 0 auto 12px;
    }
    .testimonial-card {
        padding: 35px 15px 27px;
        border-radius: 15px;
    }
    .slider-arrow-1 .owl-nav button {
        height: 30px;
        width: 30px;
        font-size: 18px;
        border-width: 1px !important;
    }
    .slider-arrow-1 .owl-nav {
        margin-top: 30px;
        gap: 10px;
    }
    .testimonial-section {
        padding: 40px 0;
    }


    .faq-section {
        padding: 40px 0;
    }
    .single-faq__title h3 {
        font-size: 16px;
    }
    .single-faq-body p {
        font-size: 13px;
    }
    .faq-sec-title {
        margin-bottom: 15px !important;
    }


    .cta-section {
        padding: 30px 0 70px;
    }
    .cta-card__title p {
        font-size: 13px;
    }
    .cta-inp-form .submit {
        min-height: 36px;
        padding: 4px 20px;
        min-width: 118px;
        border-radius: 7px;
    }
    .cta-inp-form {
        border-radius: 10px;
        padding: 3px;
    }
    .cta-inp-form .input {
        min-height: 36px;
        padding: 4px 15px;
        font-size: 13px;
        border-radius: 7px;
    }
    .cta-card {
        padding: 20px 25px 31px;
        border-radius: 20px;
    }
    .cta-card__title {
        margin-bottom: 20px;
    }


    .footer-section__inner {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .fs-menu li a {
        height: 29px;
        width: 29px;
        font-size: 17px;
    }
    .fs-menu {
        gap: 10px;
    }


    .page-hero__content .h1 {
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .page-hero-section {
        padding: 40px 0;
    }
    .tos-section {
        padding: 50px 0;
    }
    .tos__grl h3 {
        font-size: 21px;
        margin-bottom: 13px;
    }
    .tos__l-box {
        padding: 25px 20px;
        border-radius: 8px;
        margin-bottom: 20px;
    }
    .tos__grl p {
        margin-bottom: 7px;
    }
    .tos__c__title h2 {
        font-size: 25px;
    }
    .tos__c__title {
        margin-bottom: 20px;
    }
    .tos__c__cont h4 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .tos__c__cont p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .ul-p li {
        font-size: 13px;
        padding-left: 16px;
    }
    .ul-p li::before {
        left: 5px;
    }
    .ul-p li ul li {
        font-size: 12px;
    }
    .ul-p li ul {
        padding: 4px 0 0 3px;
    }
    .ul-p {
        margin-bottom: 20px;
    }

    .tos__m-box__title h3 {
        font-size: 18px;
    }
    .tos__menu ul li a {
        gap: 5px;
        font-size: 13px;
    }
    .tos__menu ul {
        gap: 11px;
    }
    .tos__m-box {
        padding: 20px 20px 25px;
        border-radius: 10px;
    }

    .pdc-section {
        padding: 30px 0 50px;
    }
    .pdc-card {
        padding: 20px;
        border-radius: 15px;
    }
    .pdc-card__media {
        border-radius: 10px;
    }
    .pdc-card__media .vid-button {
        width: 45px;
    }
    .pd-card__main {
        padding: 25px 0 20px;
    }
    .pdc__g1__tl .icon {
        width: 16px;
    }
    .pdc__g1__tl {
        gap: 12px;
        margin-bottom: 12px;
    }
    .pdc__g1__tl .text {
        font-size: 17px;
    }
    .pdc__lc .txt {
        font-size: 13px;
    }
    .pdc__lc {
        margin-bottom: 8px;
    }
    .pdc__g1 {
        margin-bottom: 15px;
    }

    .features-section {
        padding: 40px 0;
    }
    .feature-single__title h3 {
        font-size: 16px;
    }
    .feature-single__title {
        padding: 6px 10px;
        min-height: 42px;
        border-radius: 5px;
    }
    .feature-single__title h3 {
        font-size: 14px;
    }
    .feature-single__body {
        padding: 15px 0 0;
    }
    .f-ul li {
        font-size: 12.5px;
        padding-left: 11px;
    }
    .f-ul li::before {
        width: 4px;
        height: 7px;
    }
    .features__row {
        --bs-gutter-x: 18px;
    }



}


@media (max-width: 575px) {
    .container {
        padding: 0 25px;
    }



}


@media (max-width: 420px) {
    .container {
        padding: 0 18px;
    }
    .hero-content .h1 {
        font-size: 30px;
    }

    .da-cards-row {
        --bs-gutter-x: 15px;
    }
    .da-card {
        padding: 25px 12px 27px;
        border-radius: 12px;
    }
}

@media (max-width: 370px) {
    .container {
        padding: 0 12px;
    }

    .hero-content .h1 {
        font-size: 28px;
    }

    .da-cards-row {
        --bs-gutter-x: 12px;
    }

    .testimonial-slider {
        --width-n: 250;
    }

    .tos__l-box {
        padding: 22px 12px;
        border-radius: 8px;
    }
    .tos__m-box {
        padding: 15px 12px 20px;
        border-radius: 8px;
    }

    .pdc-card {
        padding: 12px;
        border-radius: 12px;
    }
    .features__row {
        --bs-gutter-x: 12px;
    }
}
