/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #4D7BF0;
  --firaSans: 'Fira Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #393C43;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--firaSans);
}
a, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1185px;
  }
}




/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 15px 0;
}
.header-section__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  width: 50px;
}
.header__logo img {

}
.header-right {
  display: flex;
  gap: 62px;
}
.main-menu {
  
}
.main-menu ul {
  gap: 70px;
  display: flex;
}
.main-menu ul li {

}
.main-menu ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #393C43;
  transition: 0.3s;
}
.main-menu ul li a:hover {
  color: var(--theme__color1);
}
.main-menu ul li a.active {
  font-weight: 700;
  color: var(--theme__color1);
}
.hr-button {
  min-width: 180px;
}
/* header-end */




/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---hero-section--- */
.hero-section {
  padding: 130px 0 50px;
  position: relative;
  z-index: 1;
}
.hero-tr-shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: calc(50vw - 100px);
  height: 706px;
}

.hero__row {
  
}
.hero-content {
  padding-top: 19%;
  padding-right: 6%;
}
.hero-content .h1 {
  font-size: 48px;
  margin-bottom: 31px;
  font-weight: 700;
  color: #000B22;
  font-family: var(--raleway);
  line-height: normal;
}
.hero-content p {
  font-size: 18px;
  line-height: 166.667%;
}
.hero-content .bottom-button {
  margin-top: 20px;
}

.hero__image {
  margin-left: -9%;
  margin-right: -28%;
}
.hero__img__inner {
  width: 100%;
}
.hero__img__inner .img {
	margin: -8% 0% -2% -7.2%;
	width: 108%;
	max-width: initial;
}
/* ---hero-section---end */


/* ---common--- */
.h2 {
  font-size: 44px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-family: var(--raleway);
  line-height: normal;
  color: #000B22;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}

.sec-title {
  margin-bottom: 30px;
}
/* ---common---end */


/* ---da-section--- */
.da-section
.da-section__inner
.da-sec__title
/* ---da-section---end */