/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #4D7BF0;
  --firaSans: 'Fira Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #393C43;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--firaSans);
}
a, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1299px) and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1082px;
  }
}




/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 15px 0;
}
.header-section__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  width: 50px;
}
.header__logo img {

}
.header-right {
  gap: 62px;
  display: flex;
  align-items: center;
}
.main-menu {
  
}
.main-menu ul {
  gap: 70px;
  display: flex;
}
.main-menu ul li {

}
.main-menu ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #393C43;
  transition: 0.3s;
}
.main-menu ul li a:hover {
  color: var(--theme__color1);
}
.main-menu ul li a.active {
  font-weight: 700;
  color: var(--theme__color1);
}
.hr-button {
  min-width: 180px;
}
/* header-end */




/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  line-height: 1;
  font-size: 22px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;

}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: flex;
  flex-direction: column;
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
  font-weight: 600;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---hero-section--- */
.hero-section {
  padding: 130px 0 50px;
  position: relative;
  z-index: 1;
}
.hero-tr-shape {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: calc(50vw - 48px);
	height: 706px;
}

.hero__row {
  
}
.hero-content {
  padding-top: 19%;
  padding-right: 6%;
}
.hero-content .h1 {
  font-size: 48px;
  margin-bottom: 31px;
  font-weight: 700;
  color: #000B22;
  font-family: var(--raleway);
  line-height: normal;
}
.hero-content p {
  font-size: 18px;
  line-height: 166.667%;
}
.hero-content .bottom-button {
  margin-top: 20px;
}

.hero__image {
  margin-left: -9%;
  margin-right: -28%;
}
.hero__img__inner {
  width: 100%;
}
.hero__img__inner .img {
	margin: -8% 0% -2% -1%;
	width: 108%;
	max-width: initial;
}
/* ---hero-section---end */


/* ---common--- */
.h2 {
  font-size: 44px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-family: var(--raleway);
  line-height: normal;
  color: #000B22;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}

.sec-title {
  margin-bottom: 50px;
}
/* ---common---end */


/* ---da-section--- */
.da-section {
  padding: 55px 0;
}
.da-section__inner {
  padding: 0 0.75%;
}
.da-sec__title {

}

.da-cards-row {
  --bs-gutter-x: 32px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.da-cards-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.da-card {
	padding: 40px 22px 50px;
	border-radius: 20px;
	border: 1px solid #C2CBDA;
	background: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	transition: 0.3s;
}
.da-card:hover {
  box-shadow: 20px 30px 80px 0px rgba(0, 22, 79, 0.20);
  border-color: transparent;
}
.da-card .icon {
  width: 46px;
  margin-bottom: 20px;
}
.da-card .icon img {

}
.da-card .content {
  text-align: center;
}
.da-card .content h3 {
  font-size: 20px;
  margin-bottom: 14px;
  font-family: var(--raleway);
  color: #000B22;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.da-card .content p {
  font-size: 14px;
  line-height: 142.857%;
}
/* ---da-section---end */


/* ---product-section--- */
.product-section {
  padding: 55px 0;
  position: relative;
  z-index: 2;
}
.product-sec-lc-shape {
  height: 660px;
  width: calc(50vw - 160px);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translate(0,-50%);
}
.product-section__inner {

}
.product-sec-title {

}

.products-card-row {
  --bg-gutter-x: 32px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.product-card {

}
.product-card .image {
  border-radius: 10px;
  overflow: hidden;
}
.product-card .image .img {
  width: 100%;
  border-radius: inherit;
  transition: 0.5s;
}
.product-card:hover .image .img {
  transform: scale(1.1);
}

.products-sec-bottom {
  margin-top: 58px;
  display: flex;
  justify-content: center;
}
/* ---product-section---end */


/* ---testimonial-section--- */
.testimonial-section {
  padding: 55px 0;
}
.testimonial-section__inner {

}
.testimonial-sec-title {

}
.testimonial-sec-title .quote {
  width: 48px;
}

.testimonial-slider {
  --width-n: 630;
  --scale-down: 0.8;
  --width: calc(var(--width-n) * 1px);
  --reduced-width: calc(var(--width) - (var(--width) * var(--scale-down)));
}
.testimonial-slider .owl-stage-outer {
  overflow: visible;
}
.testimonial-slider .owl-stage {
  display: flex;
  margin-left: calc(var(--reduced-width) * -0.5);
}
.testimonial-slide {
  
}
.testimonial-card {
  padding: 60px 52px 55px;
  display: flex;
  flex-direction: column;
  width: var(--width);
  border-radius: 26.308px;
  background: #FFF;
  box-shadow: 25px 35px 80px 6.57692px rgba(0, 91, 143, 0.10);
  transition: 0.5s;
}
.owl-item:not(.center) .testimonial-card{
  transform: scale(var(--scale-down));
}
.owl-item:not(.center) {
  
}
.owl-item .testimonial-card {
  margin: 0 calc(var(--reduced-width) / -2);
}
.owl-item.center .testimonial-card {
  margin: 0;
}
.rating {
  margin: 0 auto 22px;
}
.rating ul {
  gap: 12px;
  display: flex;
} 
.rating ul li {
  font-size: 30px;
  color: #000617;
}
.testimonial-card .contents {
  text-align: center;
}
.testimonial-card .contents p {
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 155.556%;
}
.testimonial-card .contents h4 {
  font-size: 21.046px;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--theme__color1);
}
.testimonial-card .contents h5 {
font-size: 18.415px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.slider-arrow-1 .owl-nav {
  margin-top: 60px;
  gap: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-arrow-1 .owl-nav button {
  height: 42px;
  width: 42px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--theme__color1) !important;
  color: var(--theme__color1) !important;
  transition: 0.3s;
}
.slider-arrow-1 .owl-nav button:hover {
  background: var(--theme__color1) !important;
  color: #fff  !important;
}
/* ---testimonial-section---end */


/* ---faq-section--- */
.faq-section {
  padding: 55px 0;
}
.faq-section__inner {

}
.faq-sec-title {

}

.faqs-wrap {
  max-width: 773px;
  margin: 0 auto;
}
.single-faq {
  border-bottom: 1px solid #BDC8E3;
}
.single-faq__title {
  padding: 15px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-faq__title h3 {
  font-size: 20px;
  color: #000B22;
  font-family: var(--raleway);
}
.single-faq__title .ind {
  flex-shrink: 0;
  color: var(--theme__color1);
  transition: 0.4s;
}
.single-faq__title:not(.collapsed) .ind {
  opacity: 0.5;
  transform: rotate(180deg);
}
.single-faq-body {

}
.single-faq-body__inner {
  padding: 0 0 8px;
}
.single-faq-body p {
  font-size: 14px;
}
/* ---faq-section---end */


/* ---cta-section--- */
.cta-section {
  padding: 55px 0 110px;
}
.cta-section__inner {

}
.cta-section__title {

}

.cta-card {
	padding: 60px 40px 70px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background: url('images/cta-card-bg.png') no-repeat center center/cover;
}
.cta-card__title {
  margin-bottom: 30px;
}
.cta-card__title .h2 {
  color: #fff;
}
.cta-card__title p {
  font-size: 18px;
}
.cta-inp-form {
  border-radius: 15px;
  padding: 3px;
  display: flex;
  background: #fff;
  width: 100%;
  max-width: 550px;
}
.cta-inp-form .input {
  min-height: 44px;
  padding: 4px 25px;
  font-size: 16px;
  font-weight: 400;
  color: #949393;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 0;
  flex-grow: 1;
}
.cta-inp-form .submit {
  min-height: 44px;
  padding: 4px 20px;
  min-width: 160px;
  border-radius: 10px;
  background: var(--theme__color1);
  border: none;
  color: #fff;
}

/* ---cta-section---end */


/* ---footer-section--- */
.footer-section {
  padding: 19px 0;
  background: var(--theme__color1);
  color: #fff;
}
.footer-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-right {

}
.fs-menu {
  gap: 15px;
  display: flex;
}
.fs-menu li {

}
.fs-menu li a {
  height: 42px;
  width: 42px;
  font-size: 22px;
  padding: 1px 1px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--brand-color);
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.fs-menu li a:hover {
  background: var(--brand-color);
  color: #fff;
}
.f-sa {
  transition: 0.3s;
}
.f-sa:hover {
  color: #a7d8f3;
  text-decoration: underline !important;
}
/* ---footer-section---end */


/* ---page-hero-section--- */
.page-hero-section {
  padding: 75px 0;
  background: url('images/page-hero-bg.png') no-repeat center center/cover;
}
.page-hero-section__inner {

}
.page-hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.page-hero__content .back {
  gap: 11px;
  font-size: 20px;
  font-weight: 700;
  color: var(--theme__color1);
  transition: 0.3s;
  display: inline-block;
  align-items: center;
}
.page-hero__content .back:hover .txt {
  text-decoration: underline !important;
}
.page-hero__content .back i {
  font-size: 15px;
}
.page-hero__content .h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--raleway);
  color: #000B22;
}
.page-hero__content p {

}
/* ---page-hero-section---end */


/* ---tos-section--- */
.tos-section {
  padding: 90px 0;
}
.tos-section__inner {

}

.tos-row__outer {
  --ex-left: 12.8%;
  width: calc(100% + var(--ex-left));
  margin-left: calc(var(--ex-left) * -1);
}
.tos__row {
  --bs-gutter-x: 39px;
}
.tos__row .col-lg-3 {
  width: 26.8%;
}
.tos__row .col-lg-8 {
  width: 50%;
  flex-grow: 1;
}
.tos__m-box {
  padding: 20px 22px 35px;
  border-radius: 20px;
  background: #4D7BF0;
  color: #fff;
}
.tos__m-box__title {
  padding: 0 0 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #82A0ED;
}
.tos__m-box__title h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: var(--raleway);
}
.tos__m-box__main {

}
.tos__menu {

}
.tos__menu ul {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.tos__menu ul li {

}
.tos__menu ul li a {
  gap: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}
.tos__menu ul li a:hover .txt {
  text-decoration: underline !important;
}


.tos__l-box {
  padding: 52px 53px;
  border-radius: 20px;
  background: #F2F5FA;
  margin-bottom: 50px;
}
.tos__grl {

}
.tos__grl h3 {
  font-size: 30px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: var(--raleway);
  color: #000B22;
}
.tos__grl p {
  margin-bottom: 12px;
}
.tos__grl p.red {
  color: #F64545;
}

.tos__c__title {
  margin-bottom: 25px;
  text-align: center;
}
.tos__c__title h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: var(--raleway);
  color: #000B22;
}
.tos__c__cont {

}
.tos__c__cont__txg {

}
.tos__c__cont h4 {
  font-size: 22px;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--theme__color1);
}
.tos__c__cont p {
  font-size: 16px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /*  */
}

.ul-p {
  margin-bottom: 25px;
}
.ul-p li {
  font-size: 16px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /*  */
  position: relative;
}
.ul-p li::before {
  top: 10px;
  left: 7px;
  content: '';
  height: 3px;
  width: 3px;
  background: #393C43;
  display: block;
  position: absolute;
  border-radius: 50%;
}
.ul-p li ul {
  padding: 5px 0 0 5px;
  margin-bottom: 5px;
}
.ul-p li ul li {

  font-size: 14px;
}
/* ---tos-section---end */



/* ---pdc-section--- */
.pdc-section {
	padding: 60px 0 90px;
}
.pdc-section__inner {
  max-width: 1040px;
  margin: 0 auto;
}
.pdc-sec-title {
  padding-bottom: 5px;
}

.pdc-card {
  padding: 50px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0.10);
  position: relative;
}
.pdc-card__media {
  border-radius: 20px;
  position: relative;
}
.pdc-card__media .img {
  border-radius: inherit;
  width: 100%;
}
.pdc-card__media .vid-button {
  width: 64px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pd-card__main {
  padding: 36px 0 20px;
}
.pdc__g1 {
  margin-bottom: 25px;
} 
.pdc__g1__tl {
  gap: 19px;
  margin-bottom: 17px;
  align-items: center;
  display: flex;
}
.pdc__g1__tl .icon {
  display: flex;
  align-items: center;
}
.pdc__g1__tl .icon img {

}
.pdc__g1__tl .text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000B22;
}

.pdc__lc {
  gap: 3px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.pdc__lc .in {
  font-size: 12px;
}
.pdc__lc .txt {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #555A66;
  font-weight: 400;
  transition: 0.3s;
}
.pdc__lc .inp {

}
.pdc__lc .inp:checked ~ .txt {
  color: var(--theme__color1);
}
/* ---pdc-section---end */


/* ---features-section--- */
.features-section {
  padding: 60px 0;
  background: #F2F5FA;
}
.features-section__inner {
  max-width: 1040px;
  margin: 0 auto;
}
.features-sec-title {

}

.features__row {
  
}
.feature-single {
  
}
.feature-single__title {
  padding: 10px 15px;
  min-height: 58px;
  border-radius: 10px;
  background: #4D7BF0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.feature-single__title h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: var(--raleway);
}
.feature-single__body {
  padding: 23px 0 0;
}
.f-ul {
  gap: 9px;
  display: flex;
  flex-direction: column;
}
.f-ul li {
  font-size: 14px;
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.f-ul li::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 5.76px;
  height: 9.729px;
  background: var(--theme__color1);
  display: block;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
/* ---features-section---end */